@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to top, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: auto;
    margin-top: 150px;
    width: 600px;
    border: 3px solid black;
}
.faq{
    padding: 10px;
    width: 350px;
    border: 3px solid red;
}
.faq p{
    font-weight: 700;
    text-align: center;
}

.faq>*{
    margin: 30px;
}
.question{
    border: 3px solid blue;
}
.hide{
    display: none;
}