@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to top, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
    font-family: 'Kumbh Sans', sans-serif;
}
.main{
    background-color: white;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 500px;
    background-position: -100px -100px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 900px;
    overflow: hidden;
}

.imagens{
    /* width: 400px;
    height: 310px; */    
}
.woman{
    margin-left: -70px;
    height: 100%;
}
.caixa{
    position: absolute;
    top: 275px;
    left: 90px;
}

.faq{
    padding: 10px;
    width: 400px;
    border: 3px solid red;
}

.faq p{
    font-weight: 700;
}

.faq>*{ /*coloc essas propriedades para todos os filhos da classe faq*/
    margin: 20px;
}

.faq img{
    /* border: 3px solid red; */
    height: 10px;
    cursor: pointer;
    margin-right: 0;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.hide{
    display: none;
}

.line{
    color: hsl(240, 5%, 91%);
    border: 0;
    border-top: 1px solid hsla(240, 4%, 91%, 0.574);
}