body{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);

}
div{
  border: 3px solid red;
}

.um{
  grid-column: 10/13;
  grid-row: 10/13;
}

.dois{
  grid-column: 7/10;
  grid-row: 7/10;
}

.tres{
  grid-column: 4/7;
  grid-row: 4/7;
}

.quatro{
  grid-column: 1/ 4;
  grid-row: 1/ 4;
}