@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --orange: #fb7413;
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
}

body{
    background-color: #141519;
    width: 1440px;
    font-family: 'Overpass';
    font-size: 15px;
    margin: 0px;
    min-height: 100vh;
}

.container{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid red;
}

.main{
    margin: 100px;
    /* border: 3px solid black; */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 350px;
    height: 350px;
    padding:30px;

    background-image: linear-gradient(to top, #171e27, #1a202a, #1d232c, #20252f, #232832);
    color: #848B95;
    /* height: 500px; */
}
.titulo{
    color:#FBFFFF;
    font-size: 20px;
    font-weight: 700;
}
.icone{
    background: #272E38;
    display: flex;
    width: fit-content;   
    border-radius: 50%;
    padding: 5px;
    /* margin-bottom: 10px; */
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 3px solid black; */

}

.number{
    background: #262F38;
    /* color: #505861; */
    /* border: 3px solid black; */
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    transition: color 0.3s linear;
}

.number:hover{
    background-color: #878D99;
    color: white;
}

.enviar{
    background: #fb7413;;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.enviar:hover{
    background-color: white;
    color: #fb7413;
    /* font-size: 18px;
    letter-spacing: 1px; */
}

.hide{
    display:none;
}