@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  font-size: 62.5%;
}

body{
  font-family: 'Manrope',sans-serif;
  margin: auto;
  width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid red;
  background-color: var(--dark-blue);
}

main{
  color: var(--light-cyan);
  font-size: 1.5rem;
  background-color: var(--dark-grayish-blue);
  width: 50rem ;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding: 2.5rem;
}

img{
 width: 85%;
}
.adId{
  text-transform: uppercase;
  color: var(--neon-green);
  letter-spacing: .3rem;
  font-size: 1.2rem;
}

.advice{
font-size: 2.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}