@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  font-size: 62.5%;
}

body{
  font-family: 'Manrope',sans-serif;
  font-size: 2.8rem;
  margin: auto;
  width: 1440px;
  /* display: flex;
  justify-content: center; */
  height: 100vh;
  border: 3px solid red;
  background-color: var(--dark-blue);
}

main{
  background-color: var(--dark-grayish-blue);
  width: 300px;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}