body{
  height: 500px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 12px;
  align-content: stretch;
}

div{
  border: 3px solid red;
}

.um{
  grid-column: 2 / span 4;
}

.dois{
 grid-column: 6 / span 6;
}